.showall{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #121212;
    width: 100%;
    
}

.main {
    background-color: #121212;
    font-weight: 600;
    width: 100%;
    color: #FFFFFF;
}


.gridcontainer {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 40px;
    margin:  0% 5%;
    padding-top: 1%;


}
.title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:  0% 4%;
}